body {
    background: rgb(32, 32, 32);
}

a {
    color: #9db7ff;
}

#containter {
    max-width: 1000px;
    margin: auto;
}


#banner {
    background: url(https://ktg5.online/img/special1.png) no-repeat center;
    background-size: cover;
    padding: 10px;
}

#banner img {
    padding-left: 10px;
    height: 80px;
}


#content {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: white;
}

#desc p {
    margin: 0;
}

.big-quote {
    font-size: 92px;
    height: 56px;
}
    
.big-quote.end {
    position: relative;
}

#desc .source {
    position: relative;
    bottom: 35px;
    left: 40px;
}

#content #download a {
    font-size: 32px;
    color: white;
    transition: .15s;
    padding: 0 5px;
}

#content #download a:hover {
    background: white;
    color: black;
}