/* base */
:root {
    --body-background: rgb(40 40 40);
    --text-color: white;
    --menu-left-full-size: 16rem;
    --menu-right-full-size: 20rem;
    --menu-collapsed-size: 34px;
    --menu-padding: 14px;
    --menu-background: #131313;
    --menu-border-color: #585858;
    --menu-icon-size: 36px;
    --menu-small-icon-size: 26px;
    --menu-button-padding: 5px;
    --menu-transition-time: .25s;
}

body {
    background-color: var(--body-background);
    color: var(--text-color);
    margin: 0;
}

container {
    display: block;
    width: 100%;
    height: 100%;
}

element-container {
    display: block;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(fonts/JetBrainsMono-Bold.ttf)
}

@font-face {
    font-family: 'Arista';
    src: url(fonts/Arista.ttf);
}

@font-face {
    font-family: 'Michroma';
    src: url(fonts/Michroma-Regular.ttf);
}


.loading-thingy {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 1000;
    transition: all .5s;
}
.loading-thingy content {
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 48px;
    font-family: 'Arista';
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}


.clwindow-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}


/* menus */
menu {
    display: block;
    position: sticky;
    padding: 0;
    margin: 0;
    transition: all var(--menu-transition-time);
}
menu .menu-close, menu button {
    background: none;
    color: var(--text-color);
    padding: 0;
    border: 0;
}


menu i {
    width: var(--menu-icon-size);
    height: var(--menu-icon-size);
    font-size: var(--menu-icon-size);
    transition: all var(--menu-transition-time);
}

menu[case="closed"] i {
    width: var(--menu-small-icon-size) !important;
    height: var(--menu-small-icon-size) !important;
    font-size: var(--menu-small-icon-size) !important;
}


menu .menu-title {
    font-family: 'Michroma';
    font-size: var(--menu-icon-size);
    margin-bottom: 6rem;
}
menu[case="closed"] .menu-title {
    font-size: calc(var(--menu-icon-size) - 10px);
}

menu .menu-title .text {
    position: relative;
    width: auto;
    font-family: 'Michroma';
    font-size: 28px;
    top: -2px;
}


menu .text {
    display: inline-block;
    padding-left: 16px;
    font-size: 18px;
    font-family: 'JetBrains Mono';
    text-align: left;
    min-width: max-content;
    width: 100%;
    margin: auto 0;
    transition: all var(--menu-transition-time);
}

menu[case="closed"] .text, menu[case="closed"] .menu-button.channel .channel-details {
    min-width: 0;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 0 !important;
    opacity: 0;
}

menu .menu-title i {
    white-space: nowrap;
}


.menu-button.channel .remove {
    opacity: 0;
    display: block;
    position: relative;
    background: var(--menu-background);
    border: 4px solid var(--menu-background);
    border-radius: 5px 0 0 5px;
    width: fit-content;
    height: auto;
    bottom: calc(var(--menu-icon-size) + 3px);
    left: 86%;
    transition: all var(--menu-transition-time);
}

.menu-button.channel .remove i {
    position: relative;
    width: 22px;
    height: 22px;
    font-size: 22px;
    top: 1px;
    right: -2px;
}

.menu-button.channel:hover .remove {
    opacity: 1;
}


.menu-button.channel .channel-details {
    height: -webkit-fill-available;
    padding-left: 14px;
    transition: all var(--menu-transition-time);
    font-family: 'JetBrains Mono';
    font-size: 18px;
}

menu .menu-button.channel .icon {
    border-radius: 10px;
    width: calc(var(--menu-icon-size) + 10px);
    height: calc(var(--menu-icon-size) + 10px);
    transition: all var(--menu-transition-time);
}

/* left */
menu.left {
    background-color: var(--menu-background);
    height: calc(100vh - (var(--menu-padding) * 2));
    overflow: hidden;
    padding: var(--menu-padding);
    border-right: 5px solid var(--menu-border-color);
    z-index: 10;
}

menu.left[case="full"] {
    width: var(--menu-left-full-size);
}

menu.left[case="closed"] {
    width: var(--menu-collapsed-size);
}

menu.left .menu-close, menu.left button {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(var(--menu-icon-size) + 8px);
    cursor: pointer;
    transition: all var(--menu-transition-time);
}
menu.left .menu-button.channel {
    width: calc(var(--menu-left-full-size) - 4px);
    height: calc(var(--menu-icon-size) + 20px);
    padding: var(--menu-button-padding);
}
.menu-close {
    position: fixed !important;
    background-color: var(--menu-background) !important;
    background-image: radial-gradient(var(--menu-border-color) 2px, transparent 0) !important;
    background-size: 10px 10px !important;
    background-position: 0 2px !important;
    border-radius: 0 5px 5px 0;
    padding: 4px !important;
    width: 20px !important;
    height: 4rem !important;
    left: calc(var(
    --menu-left-full-size) + (var(--menu-padding) * 1.6));
    cursor: pointer;
    z-index: 10;
}

/* menu.left .menu-close:hover, */
menu.left button:hover {
    background: rgba(255, 255, 255, 0.25);
}
menu.left button.focus {
    background: rgb(255 0 0 / 25%);
}

/* menu.left .menu-close .text {
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
    min-width: max-content;
    width: 100%;
}

menu.left .menu-close i {
    transition: all var(--menu-transition-time);
} */

/* menu.left[case="closed"] .menu-close,  */
menu.left[case="closed"] button, 
menu.left[case="closed"] .menu-button.add {
    width: calc(var(--menu-small-icon-size) + 6px) !important;
    height: auto !important;
    margin: auto !important;
}
menu.left[case="closed"] .menu-close {
    width: 20px !important;
    height: 4rem !important;
    left: calc(var(--menu-collapsed-size) + (var(--menu-padding) * 1.9));
}
menu.left[case="closed"] .menu-button.channel {
    padding: var(--menu-button-padding) 0;
}
/* menu.left[case="closed"] .menu-close {
    left: 0;
}

menu.left[case="closed"] .menu-close .text {
    display: none;
}

menu.left[case="closed"] .menu-close i {
    rotate: 180deg;
} */


menu.left element-container {
    height: calc(100vh - (var(--menu-padding) * 2));
}


menu.left div {
    width: max-content;
}


menu.left .menu-button {
    display: flex;
}


menu.left[case="closed"] .menu-button.channel .icon {
    width: calc(var(--menu-small-icon-size) + 4px);
    height: calc(var(--menu-small-icon-size) + 4px);
}

menu.left .channel-details .bottom .viewers::before {
    content: "";
    background-color: #f00;
    border-radius: 100%;
    line-height: normal;
    display: inline-block;
    position: relative;
    height: 12px;
    width: 12px;
    margin-right: 8px;
}

menu.left .channel-details .bottom .spliter {
    padding: 0 10px;
}

menu.left .channel-details .bottom {
    width: calc(var(--menu-left-full-size) - (var(--menu-padding) * 2.7) - var(--menu-icon-size));
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

menu.left .removeall {
    width: calc(var(--menu-left-full-size) - 4px);
    height: auto;
    padding: calc(var(--menu-padding) / 4);
}

menu.left .removeall .text {
    padding: 0;
    margin: auto;
    width: auto;
    font-size: 16px;
}

menu.left .bottom-buttons {
    width: min-content;
    position: fixed;
    bottom: var(--menu-padding);
}

menu.left .bottom-buttons .menu-button {
    width: calc(var(--menu-left-full-size) - 4px);
    height: 100%;
    padding: calc(var(
    --menu-padding) / 4);
}

menu.left .menu-button.add {
    display: inline-flex;
}


/* right */
menu.right {
    position: fixed;
    width: var(--menu-right-full-size);
    height: 100%;
    background: var(--menu-background);
    border-left: 5px solid var(--menu-border-color);
    top: 0;
    right: 0;
    z-index: 10;
}
menu.right[case="closed"] {
    right: calc((var(--menu-right-full-size) * -1.018));
}

menu.right element-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


menu.right .menu-title {
    padding: var(--menu-padding) var(--menu-padding) 6px;
    margin-bottom: 0;
}
menu.right .menu-title .text {
    padding-left: 10px;
}


menu.right .menu-close {
    border-radius: 5px 0 0 5px;
    top: var(--menu-padding);
    left: unset;
    right: var(--menu-right-full-size);
    transition: all var(--menu-transition-time);
}
menu.right[case="closed"] .menu-close {
    right: 0;
}


menu.right .channel-selector-container {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: rgb(255 255 255 / 50%) var(--menu-border-color);
}
menu.right .channel-selector-container::-webkit-scrollbar {
    background: rgb(20, 20, 20);
}
menu.right .channel-selector-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}

menu.right .channel-selector {
    display: flex;
    font-family: 'JetBrains Mono';
    width: fit-content;
    margin: auto;
}


menu.right .channel-selector button {
    font-family: 'JetBrains Mono';
    padding: 8px;
    cursor: pointer;
    transition: all var(--menu-transition-time);
}
menu.right .channel-selector button:hover {
    background: rgba(255, 255, 255, 0.25);
}

menu.right .channel-selector button.selected {
    background: rgba(255, 255, 255, 0.25);
}


menu.right .chat-insert {
    width: 100%;
    height: 100%;
}
menu.right .chat-insert iframe {
    width: 100%;
    height: 100%;
}


/* channels */
.channels-container {
    transition: all var(--menu-transition-time);
}

menu.left[case="full"] ~ .channels-container {
    width: calc(100% - var(--menu-left-full-size));
}

menu.left[case="closed"] ~ .channels-container {
    width: calc(100% - var(--menu-collapsed-size));
}

menu.right[case="full"] ~ .channels-container {
    width: calc(100% - (var(--menu-collapsed-size)*2) - var(--menu-right-full-size));
}

channels {
    display: grid;
    position: relative;
    height: 100%;
    grid-template-columns: auto auto;
    transition: all var(--menu-transition-time);
}
.channels-container.focus channels {
    filter: brightness(0.2);
    width: 30%;
    height: 30%;
    margin: auto;
}

#channel-focus {
    display: block;
    width: 100%;
    height: 0;
    transition: all var(--menu-transition-time);
}
.channels-container.focus #channel-focus {
    height: 70%;
}

#channel-focus .remove {
    display: none;
}
.channels-container.focus #channel-focus .remove {
    opacity: 0;
    display: block;
    position: fixed;
    padding: 5px;
    font-family: 'Michroma';
    font-size: 22px;
    text-align: center;
    width: -webkit-fill-available;
    background: black;
    transition: all var(--menu-transition-time);
    cursor: pointer;
    z-index: 1;
}
.channels-container.focus #channel-focus:hover .remove {
    opacity: 1;
}
.channels-container.focus #channel-focus:hover .remove:hover {
    background: #c11010;
}

.channels-container iframe {
    width: 100%;
    height: 100%;
    margin: auto;
}


/* credit box */
.credit-box {
    position: absolute;
    font-family: 'JetBrains Mono';
    font-size: 12px;
    padding: 4px;
    margin: 6px;
    background-color: black;
    color: var(--text-color);
    bottom: 0;
    right: 0;
    opacity: 0.2;
    pointer-events: none;
}